/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.content {
  min-height: 100vh; /* asegura altura completa */
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa; /* gris claro */
}
